body {
  margin: 0 auto;
  max-width: 760px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-self: center;
}

.grid-container {
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gridPic > img {
  height: 200px;
  width: 200px;
}